.about {
    background-image: url('/images/557.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about p {
    font-size: 22px;
    color: #FFFFFF;
    margin: 50px;
}

.aboutContent {
    text-align: center;
    color: white;
    padding: 300px 0;
}

.aboutContent h1 {
    font-size: 72px;
    font-weight: bold;
    text-shadow: 0px 5px 6px #0000004F;
}

.aboutContent h2 {
    font-size: 36px;
    font-weight: lighter ;
    text-shadow: 2px 3px 8px #00000040;
}

.moreAbout {
    background-color: #EEEEEE;
}

.moreAbout img {
    width: 100%;
}

.moreAbout p {
    font-size: 22px;
    color: #313A49;
    margin-bottom: 50px;
}

.quote {
    background-color:#EC1C24 ;
}

.qupteContent {
    width: 60%;
    margin: auto;
    padding: 200px 0;
}

.qupteContent h1 {
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 60px;
}

.qupteContent p {
    text-align: right;
    color: white;
    font-size: 30px;
 }


 @media(min-width: 2000px) {
    .aboutContent {
        padding: 350px 0;
    }

    .qupteContent h1 {
        font-size: 50px;
     }
     

    .qupteContent {
        width: 50%;
    }
 }

@media(max-width: 680px) {
    .aboutContent {
        padding: 150px 0;
    }
    .aboutContent h1 {
        font-size: 50px;
    }

    .aboutContent h2 {
        font-size: 26px;
    }

    .moreAbout p {
        font-size: 18px;
    }

    .qupteContent {
        width: 90%;
        padding: 80px 0;
    }
    
    .qupteContent h1 {
        font-size: 30px;
    }

    .qupteContent p {
        font-size: 25px;
     }
}
