
/* Contact Section */

.contactSection {
    background-color: #EEEEEE;
}

.contactContent {
    padding: 100px 0;
    width: 60%;
    margin: auto;
}

.contactContent h1 {
    font-size: 40px;
    color: #313A49;
    margin-bottom: 30px;
}

.myForm {
    display: flex;
    flex-direction: column;
}

.personalInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.personalInfo input {
    width: 536px;
    height: 58px;
    border: 1px solid #BEBEBE;
}


.myForm input::placeholder {
    padding: 20px;
    font-size: 22px;
    color: #919191;
}
.myForm input:focus::placeholder{
    color:transparent;
}

.input {
    height: 58px;
    margin-bottom: 30px;
    border: 1px solid #BEBEBE;
}

.input:focus::placeholder{
    color:transparent;
}

.myForm textarea {
    height: 220px;
    margin-bottom: 30px;
    border: 1px solid #BEBEBE;
}

.myForm textarea:focus::placeholder{
    color:transparent;
}

.myForm textarea::placeholder {
    padding: 20px;
    font-size: 22px;
    color: #919191;
}

#btn {
    width: 260px;
    height: 58px;
    color: white;
    background-color: #EC1C24;
    font-size: 22px;
    border: none;
}


@media(min-width: 2000px) {
    .sendingContent {
        width: 50%;
    }

    .serviceContent {
        width: 50%;
    }

    .content {
        width: 50%;
    }

    .contactContent {
        width: 50%;
    }
    .footerContent {
        width: 50%;
    }
 }



@media(max-width: 680px) {
    
    .contactContent {
        width: 90%;
    }

    #btn {
        width: 100%;

    }

    .personalInfo input:nth-child(1) {
        margin-bottom: 30px;
    }
}