.services {
    background-image: url('/images/557.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.servicesContent {
    text-align: center;
    color: white;
    padding: 300px 0;
}

.servicesContent h1 {
    font-size: 72px;
    font-weight: bold;
    text-shadow: 0px 5px 6px #0000004F;
}

.services p {
    font-size: 22px;
    color: #FFFFFF;
    padding: 50px;
}


.diseignSection {
    background-color: #EEEEEE;
}

.designContent {
    width: 60%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.designContent img {
    width: 400px;
    height: 315px;
}

.designDescription {
    width: 40%;
}

.designDescription h3 {
    font-size: 40px;
    color: #313A49;
}

.designDescription p {
    font-size: 22px;
    color: #313A49;
    padding-top: 55px;
}

@media(max-width: 1200px) {
    .servicesContent {
        padding: 150px 0;
    }
    .servicesContent h1 {
        font-size: 40px;
    }
    .designContent {
        width: 90%;

    }
    .designContent img {
        width: 100%;
        margin-bottom: 30px;
    }
    .designDescription {
        width: 100%;
    }

    #flexReverse {
        flex-direction: column-reverse;
        align-items: center;
    }
}
